@model MyBlog.UI.Models.VMs.AppUserVM
@using System.Security.Claims
@{
    var currentUserId = User.FindFirstValue(ClaimTypes.NameIdentifier);
    var isAdmin = User.IsInRole("Admin");
}
<div class="card border-0 shadow-sm rounded-4 p-4">
    <div class="text-center">
        <img src="@Model.ImageUrl" class="rounded-circle shadow mb-3" style="width: 120px; height: 120px; object-fit: cover;" alt="Profile Picture">
        <h5 class="mb-1">@Model.UserName</h5>
        <p class="text-muted small mb-2">@Model.Email</p>
        <p class="text-secondary">@Model.AboutMe</p>

        @if (currentUserId == Model.Id || isAdmin)
        {
            <button class="btn btn-outline-primary btn-sm editUserBtn" data-bs-toggle="modal" data-id="@Model.Id" data-username="@Model.UserName" data-aboutme="@Model.AboutMe" data-email="@Model.Email" data-imageurl="@Model.ImageUrl" data-bs-target="#editProfileModal">Edit Profile</button>
        }

        @if (currentUserId == Model.Id)
        {
            <button type="button" id="changePasswordBtn" class="btn btn-outline-warning btn-sm"
                    data-bs-toggle="modal" data-bs-target="#changePasswordModal"
                    data-id="@Model.Id">
                Change Password
            </button>
        }
    </div>
</div>
<script>
    $('#changePasswordBtn').on('click', function () {
                var userId = $(this).data('id');
                console.log("Selected userId for change password: ", userId);
                $('#changePasswordUserId').val(userId);
                $('#changePasswordErrors').text('');
                $('#changePasswordForm')[0].reset();
            });
</script>